
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>WebOps Weekly</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/css/app.css">
  <link rel="alternate" type="application/rss+xml" title="WebOps Weekly" href="/rss/1p972jc6">
  <link rel="shortcut icon" href="/favicon.png">
</head>
<body class="webops dom dom-webops confirmed 4cb23d03aa confirmed">
  <header class="contained">
    <nav>
    <div class="sitename" style="cursor: pointer" onclick="window.location.href='/'"><a href="/">WebOps Weekly</a></div>

    <div class="items">
        
            <a href="/issues" class="issues">Archives</a><span class="divider">|</span>
            <a href="/latest" class="latest">Latest</a><span class="nomobile"><span class="divider">|</span>
            <a href="/rss/17k516c8">RSS</a></span>
        
    </div>
  </nav>

  
</header>

  <main><section class="contained">

<h1>You're signed up!</h1>

<h2>Enjoy the latest issue</h2>

<p>While you wait for the next issue of WebOps Weekly, check out <a href="/latest">the latest issue here.</a></p>

</section>
</main>

</body>
</html>
