<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ .StaticInfo.NewsletterName }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/static/css/app.css">
  <link rel="apple-touch-icon" sizes="57x57" href="/static/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/static/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/static/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/static/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/static/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/static/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/static/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/static/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/static/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/static/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
  <link rel="manifest" href="/static/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/static/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
</head>
<body class="Dart dom dom-Dart index index0">
  <header class="contained">
    <nav>
    <div class="sitename" style="cursor: pointer" onclick="window.location.href='/'"><a href="/">{{ .StaticInfo.NewsletterName }}</a></div>
  </nav>

  
</header>

  <main><div class="sideground">
  <div class="marvel-device iphone6plus white">
      <div class="top-bar"></div>
      <div class="sleep"></div>
      <div class="volume"></div>
      <div class="camera"></div>
      <div class="sensor"></div>
      <div class="speaker"></div>
      <div class="screen" style="overflow: none;-webkit-overflow-scrolling:touch;">
        <iframe src="/latest"></iframe>
      </div>
      <div class="home"></div>
      <div class="bottom-bar"></div>
  </div>
</div>

<div class="main">
  
  
  
  
  
  
    <img src="/static/images/dart-logo.png" class="fplogo" width="120" />
  
  

  <h1 class="title">{{ .StaticInfo.NewsletterName }}</h1>
  <h2 class="subtitle">{{ .NewsletterBlurb }}</h2>

  <form class="subscribe" action="/subscribe" method="POST">
    <div class="fab">
      <div class="input">
      <input type="email" placeholder="Your email address" class="email" name="xemail" id="email" value="" required />
      </div>
      <div class="button">
        <button class="awesome" type="submit">Subscribe</button>
      </div>
    </div>

      

    <div class="count">Join our subscriber community today.</div>
  </form>


  <p>Check out <a href="/latest">our latest issue </a> for a sample.</p>

  

  

  <footer>
    <p>Published by <a href="{{.StaticInfo.PublisherURL}}"> {{.StaticInfo.PublisherName}}</a><br />Our <a href="/privacy">privacy</a> and <a href="/spam">anti-spam</a> policies. We take both seriously.</p>
  </footer>
</div>
</main>
  
  <script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function(event) {
        document.getElementById('email').focus();
    });
  </script>

</body>
</html>
